<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/jpg" href="narayan.jpg">
        <title>
            {{title}}
        </title>
    </head>
    <body>
        <h1>{{bdata}}</h1>
        <p>
            {%for n in clist%}
           {{forloop.counter0}} {{n}}
            {% endfor %}
        </p>
        <table border="1" cellpadding="10">
            <tr>
            <th>Name</th>
            <th>Phone</th>
            </tr>
            {% for d in student_details %}
            <tr>
                <td>{{d.name}}</td>
                <td>{{d.phone}}</td>
            </tr>
            {% endfor %}
        </table>
        <h4><a href="https://en.wikipedia.org/wiki/Narayan_Gopal" target="_blank" title="Narayan gopal wikipedia link">-by Narayan gopal</a></h4>
        <a href="https://www.google.com/search?q=Narayan+gopal+photos&oq=Narayan+gopal+photos&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIGCAEQLhhA0gEINTEwMWowajGoAgiwAgE&sourceid=chrome&ie=UTF-8" target="_blank">
        <img src="gopal.jpg" alt="Picture of late Narayan gopal" height="200">
        </a>
        <hr>
        <pre>
            एउटा मान्छेको मायाले
            कति
            फरक पर्दछ जिन्दगीमा
            एउटा मान्छेको मायाले
            कति
            फरक पर्दछ जिन्दगीमा
            एउटा साथीको साथले कति
            फरक पर्दछ जिउनुमा
            एउटा मान्छेको मायाले
            कति
            फरक पर्दछ जिन्दगीमा
            शिशिर यामकाे जाडोमा
            पनि
            शिशिर यामकाे जाडोमा
            पनि
            फुल्दछ फुल मुस्कानकाे
            अधाँराे अाैंशीकाे
            रातमा पनि
            बल्दछ दियो विश्वासको
            नयनभरीकाे अाशुमा पनि
            नयनभरीकाे अाशुमा पनि
            बसेकाे हुन्छ तस्बिर
            त्यो
            हृदयभरीकाे चाेटमा पनि
            लुकेको हुन्छ मायालु
            त्यो
            एउटा मान्छेको मायाले
            कति
            फरक पर्दछ जिन्दगीमा
            बिछाेड हुदाकाे दुखमा
            पनि
            बिछाेड हुदाकाे दुखमा
            पनि
            भराेसा हुन्छ मिलनकाे
            झगडा हुदाकाे बेलामा
            पनि
            पत्यार हुन्छ
            साहाराकाे
            मायालु बिनाकाे हुदाे
            हो कति
            मायालु बिनाकाे हुदाे
            हो कति
            उराथ लाग्दाे संन्सार
            यो
            पीरति बिनाकाे
            हुदाेहाे कति
            निरासिकलाे सम्झना यो
            एउटा मान्छेको मायाले
            कति
            फरक पर्दछ जिन्दगीमा 
        </pre>
        <audio controls autoplay muted loop>
            <source src="https://music.youtube.com/watch?v=SyIcF4jYnYo&si=W-FzrCRgJ605cvSE" type="audio/mpeg">
            <source src="https://music.youtube.com/watch?v=SyIcF4jYnYo&si=W-FzrCRgJ605cvSE" type="audio/wave">
        </audio>
        <br>
        <video controls autoplay muted loop width="500px">
            <source src="C:\Users\aakas\My project\Library\PackageCache\com.unity.timeline@1.6.4\Samples~\Customization\Demo\Videos\M09-1317.mp4">
        </video>
        <br>
        <a href="mailto:abc@gmail.com">Email me</a>
    </body>
</html>